.container{
    width: 300px;
    outline: none;
}

.selectOff{
    padding: 5px;
    border-bottom: 2px solid black;
}

.selectOff:hover{
    background-color: #f5f5f5;
    box-shadow: inset 0px -1px 0px 0px black;
}

.selectOn{
    border-radius: 5px;
    background-color: #ececec;
}

.item{
    padding: 5px;
}

.item:hover{
    background-color: #1053ec;
    color: white;
}

.curItem{
    background-color: #3d7aff;
    color: white;
}


.firstItem{
    border-radius: 5px 5px 0px 0px;
}

.lastItem{
    border-radius: 0px 0px 5px 5px;
}

